[submodule "contoso-air"] 
path = contoso-air 
url = https://mbidstrup@github.com/flowers-in-may/contoso-air.git 
[submodule "repository-binaries-proj2"] 
path = repository-binaries-proj2 
url = https://mbidstrup@github.com/flowers-in-may/repository-binaries-proj2.git 
